<div align="center">
<h4><p>Estadisticas de la Aplicación:<br><br></p></h4>
<table>
   <tr>
     <td align="left">Número de preguntas:</td>
     <td align="right" valign="bottom"><h4><%= stats.npreg %></h4></td>
   </tr><tr>
     <td align="left">Número total de comentarios:</td>
     <td align="right" valign="bottom"><h4><%= stats.ncomm %></h4></td>
   </tr><tr>
     <td align="left">Número medio de cometarios por preguntas:</td>
     <td align="right" valign="bottom"><h4><%= stats.avg %></h4></td>
  </tr><tr>
     <td align="left">Número de preguntas sin comentarios:</td>
     <td align="right" valign="bottom"><h4><%= stats.npregsc %></h4></td>
  </tr><tr>
     <td align="left">Número de preguntas con comentarios:</td>
     <td align="right" valign="bottom"><h4><%= stats.npregcc %></h4></td>
  </tr>
</table>
</div>
